# workspace files
workspace/*
!workspace/cgi-bin
!workspace/err
!workspace/html
!workspace/icons
!workspace/fdc_test
!workspace/nativecamp-njs-restructure

# box
package.box

# vagrant folder
.vagrant/*