# workspace files
workspace/*
!workspace/cgi-bin
!workspace/err
!workspace/html
!workspace/icons
!workspace/fdc_test

# box
package.box

# vagrant folder
.vagrant/*

# ignore vagrant file
# Vagrantfile